<%= form_with(model: map, local: true) do |form| %>
  <% if map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :station_name %>
    <%= form.text_field :station_name %>
  </div>

  <div class="field">
    <%= form.label :large_category %>
    <%= form.text_field :large_category %>
  </div>

  <div class="field">
    <%= form.label :small_category %>
    <%= form.text_field :small_category %>
  </div>

  <div class="field">
    <%= form.label :store_name %>
    <%= form.text_field :store_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :business_hours %>
    <%= form.text_field :business_hours %>
  </div>

  <div class="field">
    <%= form.label :regular_holiday %>
    <%= form.text_field :regular_holiday %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
