<!-- コンテンツ作成 -->
<div class='body_background'>
  <div class='br br_box'>
  </div>
  <div id='content'>
    <div id='search_box'>
      <h3 class='search_box_title'>地域</h3>
      <ul class='search_tree'>
        <li class='link'><%= link_to '吉祥寺', {controller: "maps", action: "index", search: "吉祥寺"}, {:class => 'link_a'}  %></li>
        <li class='link'><%= link_to '下北沢', {controller: "maps", action: "index", search: "下北沢"}, {:class => 'link_a'}  %></li>
        <li class='link'><%= link_to '渋谷', {controller: "maps", action: "index", search: "渋谷"}, {:class => 'link_a'}  %></li>
      </ul>
      <h3 class='search_box_title'>カテゴリ</h3>
      <ul class='search_tree'>
        <li class='link'><%= link_to 'スニーカー', {controller: "maps", action: "index", category: "スニーカー"}, {:class => 'link_search'}  %></li>
        <li class='link'><%= link_to 'レディス', {controller: "maps", action: "index", category: "レディス"}, {:class => 'link_search'}  %></li>
        <li class='link'><%= link_to 'メンズ', {controller: "maps", action: "index", category: "メンズ"}, {:class => 'link_search'}  %></li>
      </ul>
    </div>

    <div id='search_content'>
      <% @maps_station_num.each do |station, num| %><!-- 入力した駅の数だけdivを作る。 -->
        <ul class="contents">
          <!-- 駅名とカテゴリと検索結果数を表示 -->
          <div id=search_result><%= station %>駅<span class='space'></span><span><%= params[:category] if params[:category].present? %></span><span class='space'></span>検索結果 <%= num %>件</div>
          <% @maps.each do |map| %>
            <% if map.store_name.present? and map.station_name === station %><!-- 駅名ごとに振り分ける。 -->
              <li class='content'>
                <!-- 画像の挿入 -->
                <% if File.exist?("#{Rails.root}/app/assets/images/#{map.station_name}/#{map.store_name}/main.jpg") or File.exist?("#{Rails.root}/app/assets/images/#{map.station_name}/#{map.store_name}/main.png") %>
                  <div class="image_div">
                    <%= link_to map, :target=>["_blank"] do %>
                      <span><%= image_tag "#{map.station_name}/#{map.store_name}/main", :size => "170x120" %></span>
                    <% end %>
                  </div>
                <% end %>
                <!-- 詳細ボタン -->
                <%= link_to map, :class => 'detail_btn', :target => ["_blank"] do %>
                  <div class='detail_btn_text'>詳細を見る</div>
                <% end %>
                <div class='store_info'>
                  <%= link_to map, :target=>["_blank"], :class => 'store_info_link' do %>
                    <div class='store_info_msg'><%= map.store_name %></div>
                    <%= simple_format(map.text, {}, wrapper_tag: 'div', :calss => 'store_info_msg') %>
                  <% end %>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<!-- 地図を表示 -->
<% if params[:search].present? %>
  <div id='map_idx'></div>
<% else %>
  <div id='map_idx' hidden></div>
<% end %>


<!-- GoogleMapsAPIのセッティング -->
<script type="text/javascript">
  function initMap() {
    // 入力した駅を中心とする地図のセッティング
    <% @maps.each do |map| %>
        if( <%= map.station_name.try(:include?, "駅") %> ) {
          var latlng = {lat: <%= map.latitude %>, lng: <%= map.longitude %>};
          var map = new google.maps.Map(document.getElementById('map_idx'), {
            zoom: 15,
            center: latlng
          });
          var transitLayer = new google.maps.TransitLayer();
          transitLayer.setMap(map);
        }
    <% end %>

      // 入力した駅にヒットしたそれぞれの店を出力していく。
      <% @maps.each do |map| %>
        (function(){
          var address = "住所：<%= map.address %>";
          var store_name = "<%= map.store_name %>";
          var infowindow = new google.maps.InfoWindow({ content: "店名: <%= map.store_name %><br><%= map.address %>" });

          // マーカーの設定
          var marker = new google.maps.Marker({
            position:{lat: <%= map.latitude %>, lng: <%= map.longitude %>},
            map: map,
            title: store_name,
            icon: null,
            animation: null
          });

          // 駅のマーカーだけアイコンを変える。
          if( <%= map.station_name.try(:include?, "駅") %>) {
            marker.animation = google.maps.Animation.BOUNCE
            marker.icon = { url: '<%= asset_path 'icon.png' %>' }
          }

          // クリックしたら吹き出しを出力し、店名と住所を表示する。
          marker.addListener('click', function() { infowindow.open(map, marker); });
        })();
  <% end %>
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap">
</script>

