<!-- コンテンツ作成 -->
<div class='body_background'>
  <div class='br br_box'></div>
  <div id='content'>
    <!-- 入力した駅の数だけdivを作る。 -->
    <% @maps_station_num.each do |station, num| %>
      <ul class="contents">
        <!-- 駅名とカテゴリと検索結果数を表示 -->
        <div id=search_result><%= station %>駅<span class='space'></span><span><%= params[:category] if params[:category].present? %></span><span class='space'></span>検索結果 <%= num %>件</div>
        <% @maps.each do |map| %>
          <% if map.store_name.present? and map.station_name === station %><!-- 駅名ごとに振り分ける。 -->
            <li class='content'>
              <!-- 画像と店名の挿入 -->
              <% if File.exist?("#{Rails.root}/app/assets/images/#{map.store_name}.jpg") or File.exist?("#{Rails.root}/app/assets/images/#{map.store_name}.png") %>
                <div class="image_div">
                  <%= link_to map, :target=>["_blank"] do %>
                    <p><%= image_tag map.store_name, :size => "170x120" %></P>
                  <% end %>
                </div>
              <% end %>
              <div class='store_info_hot'>
                <%= link_to map, :target=>["_blank"] do %>
                  <p><%= map.store_name %></p>
                  <p><%= map.small_category %></p>
                  <p><%= map.address %></p>
                <% end %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<!-- 地図を表示 -->
<% if params[:search].present? %>
  <div id='map_idx'></div>
<% else %>
  <div id='map_idx' hidden></div>
<% end %>


<!-- GoogleMapsAPIのセッティング -->
<script type="text/javascript">
  function initMap() {
    // 入力した駅を中心とする地図のセッティング
    <% @maps.each do |map| %>
        if( <%= map.station_name.try(:include?, "駅") %> ) {
          var latlng = {lat: <%= map.latitude %>, lng: <%= map.longitude %>};
          var map = new google.maps.Map(document.getElementById('map_idx'), {
            zoom: 15,
            center: latlng
          });
          var transitLayer = new google.maps.TransitLayer();
          transitLayer.setMap(map);
        }
    <% end %>

      // 入力した駅にヒットしたそれぞれの店を出力していく。
      <% @maps.each do |map| %>
        (function(){
          var address = "住所：<%= map.address %>";
          var store_name = "<%= map.store_name %>";
          var infowindow = new google.maps.InfoWindow({ content: "店名: <%= map.store_name %><br><%= map.address %>" });

          // マーカーの設定
          var marker = new google.maps.Marker({
            position:{lat: <%= map.latitude %>, lng: <%= map.longitude %>},
            map: map,
            title: store_name,
            icon: null,
            animation: null
          });

          // 駅のマーカーだけアイコンを変える。
          if( <%= map.station_name.try(:include?, "駅") %>) {
            marker.animation = google.maps.Animation.BOUNCE
            marker.icon = { url: '<%= asset_path 'icon.png' %>' }
          }

          // クリックしたら吹き出しを出力し、店名と住所を表示する。
          marker.addListener('click', function() { infowindow.open(map, marker); });
        })();
  <% end %>
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap">
</script>

