<div id='body_background' class='show_back'>
  <div class='br br_box'></div>
  <%= render 'shared/search_list' %>
  <div id='detail'>
    <div id='detail_content_storename', class='detail_content_item'>
      <%= @map.store_name %>
      <hr>
    </div>
    <div id='detail_image_content'>
      <!-- 画像 -->
      <div id='detail_content_images', class='detail_content'>
        <%= image_tag "#{@map.station_name}/#{@map.store_name}/main", id: 'image_function', :size => "800x300" %>
        <% if File.exist?("#{Rails.root}/app/assets/images/#{@map.station_name}/#{@map.store_name}/sub_1.jpg") %>
          <div id='image_frame'>
            <% Dir.glob("#{Rails.root}/app/assets/images/#{@map.station_name}/#{@map.store_name}/sub*").count.times do |i| %>
              <div class='detail_image_div'><%= image_tag "#{@map.station_name}/#{@map.store_name}/sub_#{i+1}", :onClick => "slideshow(#{i})", id:"image#{i}", class: 'image', :size => "80x60" %></div>
            <% end %>
          </div>
        <% end %>
      </div>
      <table class='detail_content_table'>
        <tbody>
          <tr>
            <th class='fav_item_head'>エリア</th>
            <td class='item_data'><div class='square_area'><%= @map.station_name %></td>
          </tr>
          <tr>
            <th class='item_head'>テキスト</th>
            <td class='item_data'><%= simple_format(@map.text, :id => 'detail_text') %></td>
          </tr>
          <tr>
            <th class='item_head'>住所</th>
            <td class='item_data'><%= simple_format(@map.address) %></td>
          </tr>
          <tr>
            <th class='item_head'>カテゴリ</th>
            <td class='item_data'>
              <% @map.category[1, @map.category.length].split("#").each do |category| %>
                <div class="square_category"><%= category %></div>
              <% end %>
            </td>
          </tr>
          <tr>
            <th class='item_head'>営業時間</th>
            <td class='item_data'><%= simple_format(@map.business_hours) %></td>
          </tr>
          <tr>
            <th class='item_head'>HP</th>
            <td class='item_data'><%= simple_format(@map.HP) %></td>
          </tr>
          <tr>
            <th class='item_head'>電話番号</th>
            <td class='item_data'><%= simple_format(@map.phone_number) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id='map_idx'></div>
  </div>
</div>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'HOME', maps_path %>
<!-- 小画像をクリックする度に大画像に反映させる。  -->
<script>
  function slideshow(param){
    str = document.getElementById("image" + param).src      // クリックした画像のファイルパスを取得
    index = str.indexOf('assets')                           // 文字列に対するassetsの番号を取得する。
    str = str.slice(index - 1);                             // /assets/以下の文字列だけ抽出する。
    document.getElementById("image_function").src=(str);    // クリックした画像のファイルパスを大画像に反映させる。
  }

</script>
<!-- 地図を表示する。-->
<script type="text/javascript">
  function initMap() {

    var test = {lat: <%= @map.latitude %>, lng: <%= @map.longitude %>};
    var map = new google.maps.Map(document.getElementById('map_idx'), {
      zoom: 15,
      center: test
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @map.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
      position:test,
      map: map,
      icon: {
        url: '<%= asset_path 'icon.png' %>'
      },
      animation: google.maps.Animation.BOUNCE,
      title: contentString
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap">
</script>
