<p id="notice"><%= notice %></p>

<p>
  <strong>Store name:</strong>
  <%= @map.store_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @map.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @map.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @map.longitude %>
</p>

<!-- 大画像 -->
<%= image_tag "#{@map.store_name}/main.jpg", id: 'image_function', :size => "400x300" %>

<!-- 複数の小画像 -->
<% if File.exist?("#{Rails.root}/app/assets/images/#{@map.store_name}") %>
  <div id='image_div'>
    <% Dir.glob("#{Rails.root}/app/assets/images/#{@map.store_name}/*.png").count.times do |i| %>
      <div class='image'><%= image_tag "#{@map.store_name}/#{i+1}", :onClick => "slideshow(#{i})", id:"image#{i}", :size => "120x90" %></div>
    <% end %>
  </div>
<% end %>

<!-- 小画像をクリックする度に大画像に反映させる。  -->
<script>
  function slideshow(param){
    str = document.getElementById("image" + param).src      // クリックした画像のファイルパスを取得
    index = str.indexOf('assets')                           // 文字列に対するassetsの番号を取得する。
    str = str.slice(index - 1);                             // /assets/以下の文字列だけ抽出する。
    document.getElementById("image_function").src=(str);    // クリックした画像のファイルパスを大画像に反映させる。
  }
</script>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>

<!-- 地図を表示する。 -->
<div id=map></div>
<script type="text/javascript">
  function initMap() {

    var test = {lat: <%= @map.latitude %>, lng: <%= @map.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: test
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @map.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
      position:test,
      map: map,
      icon: {
        url: '<%= asset_path 'icon.png' %>'
      },
      animation: google.maps.Animation.BOUNCE,
      title: contentString
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap">
</script>
