<div class='body_background'>
  <div class='br br_box'></div>
  <div id='detail'>
    <div id='detail_content_images', class='detail_content'>
      <!-- 大画像 -->
      <%= image_tag "#{@map.station_name}/#{@map.store_name}/main", id: 'image_function', :size => "10000x400" %>
      <!-- 複数の小画像 -->
      <% if File.exist?("#{Rails.root}/app/assets/images/#{@map.station_name}/#{@map.store_name}/sub_1.jpg") %>
        <div id='image_div'>
          <% Dir.glob("#{Rails.root}/app/assets/images/#{@map.station_name}/#{@map.store_name}/sub*").count.times do |i| %>
            <div class='image'><%= image_tag "#{@map.station_name}/#{@map.store_name}/sub_#{i+1}", :onClick => "slideshow(#{i})", id:"image#{i}", :size => "90x68" %></div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id='detail_content_table', class='detail_content'>
      <div id='detail_content_storename', class='detail_content_item'>
        <%= @map.store_name %>
        <hr>
      </div>

      <div id='detail_text_block'>
        <%= simple_format(@map.text, :id => 'detail_text') %>
      </div>

      <dl class='detail_content_item'>
        <dt class='item_dt'>住所:</dt>
        <dd class='item_dd'><%= @map.address %></dd>
        <div id='map_show'></div>
      </dl>

      <dl class='detail_content_item'>
        <dt class='item_dt'>カテゴリ:</dt>
        <dd class='item_dd'><%= @map.category %></dd>
      </dl>

      <dl class='detail_content_item'>
        <dt class='item_dt'>営業時間:</dt>
        <dd class='item_dd'><%= @map.business_hours %></dd>
      </dl>

      <dl class='detail_content_item'>
        <dt class='item_dt'>HP:</dt>
        <dd class='item_dd'><%= @map.HP %></dd>
      </dl>

      <dl class='detail_content_item'>
        <dt class='item_dt'>電話番号:</dt>
        <dd class='item_dd'><%= @map.phone_number %></dd>
      </dl>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
<!-- 小画像をクリックする度に大画像に反映させる。  -->
<script>
  function slideshow(param){
    str = document.getElementById("image" + param).src      // クリックした画像のファイルパスを取得
    index = str.indexOf('assets')                           // 文字列に対するassetsの番号を取得する。
    str = str.slice(index - 1);                             // /assets/以下の文字列だけ抽出する。
    document.getElementById("image_function").src=(str);    // クリックした画像のファイルパスを大画像に反映させる。
  }

</script>
<!-- 地図を表示する。-->
<script type="text/javascript">
  function initMap() {

    var test = {lat: <%= @map.latitude %>, lng: <%= @map.longitude %>};
    var map = new google.maps.Map(document.getElementById('map_show'), {
      zoom: 15,
      center: test
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @map.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
      position:test,
      map: map,
      icon: {
        url: '<%= asset_path 'icon.png' %>'
      },
      animation: google.maps.Animation.BOUNCE,
      title: contentString
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap">
</script>
