<!DOCTYPE html>
<html>
  <head>
    <title>Arasute</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-multiselect-widget/3.0.0/jquery.multiselect.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <%= javascript_include_tag "map.js" %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <% if request.from_pc? then %>
    <%= stylesheet_link_tag    'pc/index', 'pc/index_favorite', 'pc/maps', 'pc/show', 'pc/about', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% else %>
    <%= stylesheet_link_tag    'mobile/index', 'mobile/index_favorite', 'mobile/maps', 'mobile/show', 'mobile/about',  media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <% end %>
  </head>

  <body>
    <!-- サイドオープン時メインコンテンツを覆う--> 
    <div class="overlay" id="js__overlay"></div>

    <nav class="side-menu">
      <h4 class='search_box_title'>エリア</h3>
      <ul class='search_tree'>
        <li class='link'><%= link_to '吉祥寺', {controller: "maps", action: "index", search: "吉祥寺"}, {:class => 'link_search'}  %></li>
        <li class='link'><%= link_to '下北沢', {controller: "maps", action: "index", search: "下北沢"}, {:class => 'link_search'}  %></li>
        <li class='link'><%= link_to '渋谷', {controller: "maps", action: "index", search: "渋谷"}, {:class => 'link_search'}  %></li>
      </ul>
      <h4 class='search_box_title'>カテゴリ</h4>
      <ul class='search_tree'>
        <li class='link'><%= link_to 'スニーカー', {controller: "maps", action: "index", category: "スニーカー"}, {:class => 'link_search'}  %></li>
        <li class='link'><%= link_to 'スポーツ', {controller: "maps", action: "index", category: "スポーツ"}, {:class => 'link_search'}  %></li>
        <li class='link'><%= link_to 'ビジネスシューズ', {controller: "maps", action: "index", category: "ビジネスシューズ"}, {:class => 'link_search'}  %></li>
        <li class='link'><%= link_to 'ブーツ', {controller: "maps", action: "index", category: "ブーツ"}, {:class => 'link_search'}  %></li>
        <li class='link'><%= link_to 'ユニセックス', {controller: "maps", action: "index", category: "ユニセックス"}, {:class => 'link_search'}  %></li>
        <li class='link'><%= link_to 'キッズ', {controller: "maps", action: "index", category: "キッズ"}, {:class => 'link_search'}  %></li>
        <li class='link'><%= link_to 'サンダル', {controller: "maps", action: "index", category: "サンダル"}, {:class => 'link_search'}  %></li>
        <li class='link'><%= link_to 'シューケア', {controller: "maps", action: "index", category: "シューケア"}, {:class => 'link_search'}  %></li>
        <li class='link'><%= link_to 'メンズ専門', {controller: "maps", action: "index", category: "メンズ専門"}, {:class => 'link_search'}  %></li>
        <li class='link'><%= link_to 'レディス専門', {controller: "maps", action: "index", category: "レディス専門"}, {:class => 'link_search'}  %></li>
      </ul>
    </nav>


    <input type="checkbox" class="check" id="checked">
    <label class="menu-btn" for="checked">
      <span class="bar top"></span>
      <span class="bar middle"></span>
      <span class="bar bottom"></span>
    </label>
    <label class="close-menu" for="checked"></label>




    <!-- メインコンテンツ -->
    <div class="wrapper">
      <!-- ナビバーを表示 -->
      <header>
        <div id='navbar'>
          <!-- 画像の挿入 -->
          <%= link_to image_tag('logo.png', id: 'logo'), maps_path, class: 'maps_path' %>
          <div id='sub_title'>
            このサービスは管理人オススメの靴屋さんを都内中心に紹介するものです。<span class='br'/>
              いくつかの靴屋さんを周りたい時などに参考にしてみてください。  </div>
          <hr>
        </div>
      </header>
      <%= yield %>
      <footer>
        <div id="footer_layout">
          <div id="footer_logo">
            <%= link_to image_tag('logo.png', id: 'footer_logo_img'), maps_path, id: 'footer_maps_path' %>
            <div id='footer_sub_title'>
              このサービスは管理人オススメの靴屋さんを都内中心に紹介するものです。<span class='br'/>
                いくつかの靴屋さんを周りたい時などに参考にしてみてください。  </div>
          </div>
          <ul class="footer_cell">
            <h4 class='footer_search_title'>エリア</h4>
            <li class="footer_item"><%= link_to '吉祥寺', {controller: "maps", action: "index", search: "吉祥寺"}, {:class => 'footer_link'}  %></li>
            <li class="footer_item"><%= link_to '下北沢', {controller: "maps", action: "index", search: "下北沢"}, {:class => 'footer_link'}  %></li>
            <li class="footer_item"><%= link_to '渋谷', {controller: "maps", action: "index", search: "渋谷"}, {:class => 'footer_link'}  %></li>
          </ul>
          <ul class="footer_cell">
            <h4 class='footer_search_title'>カテゴリ</h4>
            <li class="footer_item"><%= link_to 'スニーカー', {controller: "maps", action: "index", category: "スニーカー"}, {:class => 'footer_link'}  %></li>
            <li class="footer_item"><%= link_to 'スポーツ', {controller: "maps", action: "index", category: "スポーツ"}, {:class => 'footer_link'}  %></li>
            <li class="footer_item"><%= link_to 'ビジネスシューズ', {controller: "maps", action: "index", category: "ビジネスシューズ"}, {:class => 'footer_link'}  %></li>
            <li class="footer_item"><%= link_to 'ブーツ', {controller: "maps", action: "index", category: "ブーツ"}, {:class => 'footer_link'}  %></li>
            <li class="footer_item"><%= link_to 'ユニセックス', {controller: "maps", action: "index", category: "ユニセックス"}, {:class => 'footer_link'}  %></li>
            <li class="footer_item"><%= link_to 'キッズ', {controller: "maps", action: "index", category: "キッズ"}, {:class => 'footer_link'}  %></li>
            <li class="footer_item"><%= link_to 'サンダル', {controller: "maps", action: "index", category: "サンダル"}, {:class => 'footer_link'}  %></li>
            <li class="footer_item"><%= link_to 'シューケア', {controller: "maps", action: "index", category: "シューケア"}, {:class => 'footer_link'}  %></li>
            <li class="footer_item"><%= link_to 'メンズ専門', {controller: "maps", action: "index", category: "メンズ専門"}, {:class => 'footer_link'}  %></li>
            <li class="footer_item"><%= link_to 'レディス専門', {controller: "maps", action: "index", category: "レディス専門"}, {:class => 'footer_link'}  %></li>
          </ul>
          <ul class="footer_cell">
            <h4 class='footer_search_title'>靴屋リサーチについて</h4>
            <li class="footer_item"><a href="/maps/about">靴屋リサーチとは</a></li>
            <li class="footer_item"><a href="/maps/contact">お問い合わせ</a></li>
            <li class="footer_item"><a href="/maps/terms">利用規約</a></li>
          </ul>
          <small id="copyright">©&nbsp;2018&nbsp;kubota-ryotaro</small>
        </div>
      </footer>
    </div>

  </body>
</html>
